@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  background: #292e35;
}
.flex-important {
  display: flex !important;
}

.bg-black {
  background: #292e35;
}
.bg-red {
  background: #ff0000;
}
.bg-carousel {
  background: #1f232a;
}
.bg-black-true {
  background: #000;
}
.bg-input {
  background: rgba(0, 0, 0, 0.13);
}
