@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  background: #292e35;
}
.flex-important {
  display: flex !important;
}
.bg-white {
  background: #fff;
}
.bg-header {
  background: #292e35b8;
  position: absolute;
  top: 0;
}
.bg-black {
  background: #292e35;
}
.bg-red {
  background: #ff0000;
}
.bg-carousel {
  background: #1f232a;
}
.bg-black-true {
  background: #000;
}
.bg-input {
  background: url("@/assets/images/finder.svg") left 12px center no-repeat,
    rgba(0, 0, 0, 0.13) !important;
}
.min-35em {
  min-height: 35em;
}

.relative-container {
  position: relative;
  top: 5em;
}
.box-movie {
  width: 95% !important;
  margin-right: 5%;
  .movie-image {
    width: 35%;
    float: left;
    img {
      width: 100%;
      height: 20rem;
      object-fit: cover;
    }
  }
  .movie-info {
    width: 65%;
    float: left;
    background: #000;
    color: #fff;
    height: 18rem;
    margin-top: 1rem;
    h3 {
      font-weight: 700;
      font-size: 18px;
      width: 100%;
      float: left;
      img {
        float: left;
      }
      span {
        float: left;
      }
    }
    h4 {
      font-weight: 500;
      font-size: 28px;
      width: 100%;
      float: left;
    }
    h5 {
      font-size: 16px;
      width: 100%;
      float: left;
      span {
        float: left;
      }
      .dot {
        float: left;
        width: 6px;
        height: 6px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 4px;
      }
    }
    p {
      font-size: 12px;
      line-height: 20px;
      width: 100%;
      float: left;
    }
  }
}
.card-movie {
  width: 14em;
  .image-card {
    object-fit: cover;
    width: 14em;
    height: 20.8em;
  }
  .rate {
    position: absolute;
    background: rgba(30, 35, 43, 0.8);
    font-weight: 700;
    color: #e5e5e5;
  }
  .hover-abs {
    position: absolute;
    .hover {
      float: left;
      width: 14em;
      height: 20.8em;
      background: rgba(0, 0, 0, 0.8);
      position: relative;
      color: #fff;
      text-align: center;
      h3 {
        position: relative;
        width: 70px;
        left: 50%;
        margin-left: -35px;
        img {
          float: left;
        }
        span {
          font-weight: 600;
          font-size: 24px;
        }
      }
      h4 {
        font-weight: 600;
        font-size: 18px;
      }
      button {
        position: relative;
        left: 50%;
        width: 60px;
        margin-left: -30px;
        background: #ff0000;
        font-size: 14px;
      }
    }
  }
}
.list-title {
  .stroke {
    width: 80px;
    height: 4px;
    background: #e74c3c;
  }
  h2 {
    color: #e5e5e5;
    font-weight: 600;
    font-size: 24px;
  }
}
.sidebar {
  max-height: 35em;
  h4 {
    font-size: 16px;
    color: #e5e5e5;
    font-weight: 600;
  }
  .border-btm {
    border-bottom: 1px solid #464646;
  }
  .border-btm-top {
    border-top: 1px solid #464646;
    border-bottom: 1px solid #464646;
  }
  .item {
    padding: 0.3rem 0;
    .label-chck {
      font-size: 14px;
      font-weight: 400;
      color: #e5e5e5;
    }
  }
}
.bg-movie {
  background-position: top 25% center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 34em;
  .layer {
    background-color: #292e35b8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 34em;
  }
  .bottom-bg {
    background-color: #000;
    position: absolute;
    top: 29em;
    left: 0;
    width: 100%;
    height: 80px;
    opacity: 0.6;
  }
}
.detail-position {
  top: -14em;
  .info-movie {
    .year {
      font-weight: 500;
      font-size: 18px;
    }
    .title {
      font-weight: 600;
      font-size: 36px;
    }
    .genre {
      font-weight: 400;
      font-size: 14px;
    }
    .star {
      img {
        float: left;
      }
      .rate {
        font-weight: 600;
        font-size: 36px;
      }
    }
    .more-info-last {
      border-right: none !important;
    }
    .more-info {
      border-right: 1px solid #ffffff30;
      label {
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        opacity: 0.5;
      }
      p {
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
      }
    }
    .overview {
      width: 70%;
      h4 {
        color: #ff0000;
        font-weight: 600;
        font-size: 14px;
      }
    }
  }
}
.review {
  h4 {
    color: #ff0000;
    font-weight: 600;
    font-size: 14px;
  }
  .card {
    background: #f9f9f9;
    .avatar {
      width: 48px;
      height: 48px;
      border-radius: 24px;
      background: rgba(30, 35, 43, 0.21);
    }
    h5 {
      font-size: 16px;
      font-weight: 700;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      color: #666666;
    }
  }
  .star-rate {
    background: rgba(196, 196, 196, 0.28);
    width: 100px;
    height: 60px;
    img {
      float: left;
    }
    h6 {
      font-size: 38px;
      font-weight: bold;
    }
  }
  .content {
    font-style: italic;
    span {
      color: red;
    }
  }
}
.recomend {
  h4 {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
  }
}

.mt-min-10 {
  margin-top: -10em;
}

// custom slick
.slick-dots li button:before {
  font-size: 15px !important;
}
.slick-dots li.slick-active button:before {
  color: red !important;
}
.slick-initialized {
  .slick-slide {
    opacity: 0.4;
  }
  .slick-current {
    opacity: 1 !important;
  }
}
.more {
  button {
    background: red;
  }
}
.category {
  img {
    float: left;
  }
}
.poss-search {
  position: absolute;
  right: 27rem;
  top: 1rem;
}
.autocomplete-input {
  padding: 0 !important;
  background-color: transparent !important;
  background-image: none !important;
  border: none !important;
}
.autocomplete-input:focus {
  box-shadow: none !important;
}
.autocomplete-result-list {
  width: 40rem !important;
  background: #000 !important;
  margin-top: 0.7rem !important;
  padding-top: 10px !important;
  left: -3rem;
  li {
    background-image: none !important;
    padding-left: 22px !important;
    color: #e5e5e5 !important;
  }
}

// reponseive
@media only screen and (min-width: 1536px) {
  .hover-abs {
    width: 14em !important;
    .hover {
      width: 14em !important;
      height: 21em !important;
    }
  }
  .poss-search {
    position: absolute;
    right: 32rem;
    top: 1rem;
  }
  .autocomplete-result-list {
    width: 48rem !important;
    background: #000 !important;
    margin-top: 0.7rem !important;
    padding-top: 10px !important;
    left: -3rem;
  }
}
